#![enable(implicit_some)]
(
    dotconfigs_path: "examples/dotconfigs_path",
    configs: [
        (name: "leftwm", path: "examples/configs/leftwm/"),
        (name: "nvim", path: "examples/configs/nvim/"),
        (name: "picom", path: "examples/configs/picom/"),
        (name: "polybar", path: "examples/configs/polybar/"),
        (name: "rofi", path: "examples/configs/rofi/"),
        (name: "zsh", path: "examples/configs/zsh/"),
        (name: "xorg", path: "examples/configs/xorg/"),
        (name: "dunst", path: "examples/configs/dunst/"),
        (name: "kitty", path: "examples/configs/kitty/"),
        (name: "hypr", path: "examples/configs/hypr/"),
        (name: "sync-dotfiles", path: "examples/configs/sync-dotfiles/"),
        (name: "clang-format", path: "examples/configs/.clang-format"),
        (name: "zshrc", path: "examples/configs/.zshrc"),
        (name: "xinitrc", path: "examples/configs/.xinitrc"),
    ],
)
